<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situ.anime.mapper.StaffMapper">

    <select id="selectById" resultType="com.situ.anime.domain.entity.Staff">
        SELECT * FROM tb_staff
        WHERE id=#{id}
    </select>
</mapper>