<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situ.anime.mapper.UserMapper">

    <insert id="insert">
        INSERT INTO tb_user
        (avatar, username, password, phone, ip_address, email)
        VALUES
        (#{avatar}, #{username}, #{password}, #{phone}, #{ipAddress}, #{email})
    </insert>
    <select id="selectById" resultType="com.situ.anime.domain.entity.User">
        SELECT * FROM tb_user
        WHERE id=#{id}
    </select>
    <select id="search" resultType="com.situ.anime.domain.entity.User">
        SELECT * FROM tb_user
        <where>
            <if test="phone!=null and phone.length>0">
                AND phone=#{phone}
            </if>
        </where>
    </select>
    <select id="selectByUsername" resultType="com.situ.anime.domain.entity.User">
        SELECT * FROM tb_user
        WHERE username=#{username}
    </select>
    <select id="selectAll" resultType="com.situ.anime.domain.entity.User">
        SELECT * FROM tb_user
    </select>
    <select id="selectRole" resultType="java.lang.Integer">
        SELECT user_group FROM tb_user
        WHERE id=#{id}
    </select>
    <select id="selectManagerAndUser" resultType="com.situ.anime.domain.entity.User">
        SELECT * FROM tb_user
        WHERE user_group=2 OR user_group=2 OR user_group=3
    </select>
    <select id="selectAvatar" resultType="java.lang.String">
        SELECT avatar FROM tb_user
        WHERE id=#{id}
    </select>
    <update id="update">
        UPDATE tb_user
        <set>
            <if test="avatar!=null">
                avatar=#{avatar},
            </if>
            <if test="password!=null">
                password=#{password},
            </if>
            <if test="phone!=null and phone.length==11">
                phone=#{phone},
            </if>
            <if test="ipAddress!=null">
                ip_address=#{ipAddress},
            </if>
            <if test="email!=null and email.length>5">
                email=#{email},
            </if>
            <if test="userGroup!=null">
                user_group=#{userGroup},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <update id="updateAvatar">
        UPDATE tb_user
        SET avatar=#{filePath}
        WHERE id=#{id}
    </update>
    <delete id="deleteUser">
        DELETE FROM tb_user
        WHERE id= #{id}
    </delete>


</mapper>